*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(127, 255, 212, 0.31);
}

.calculator-app {
    background-color: rgb(84, 118, 84);
    padding: 20px;
    border-radius: 20px;
    border: 4px solid black;
}

h1 {
    padding-bottom: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    border-radius: 10px;
    padding: 16px;
    margin: 4px;
    width: 75px;
    height: 75px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

.first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 344px;
}

#screen {
    width: 256px;
    border: 2px solid black;
    height: 73px;
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: beige;
}

.previous {
    font-size: 22px;
    padding: 2.5px;
    color: rgb(89, 86, 86);
}

.current {
    font-size: 28px;
    padding: 2.5px;
    color: rgb(0, 0, 0);
}


